---
import Layout from "../../../layouts/Layout.astro";
import { app } from "../../../firebasestuff/server";
import { getFirestore } from "firebase-admin/firestore";
import FileUpload from "../../../components/FileUpload";
import CodeLogs from "../../../components/CodeLogs";
import SubmissionList from "../../../components/SubmissionList";

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/signin");
}

const {name} = Astro.params;

const db = getFirestore(app);
const robotsRef = db.collection("robots")
const dataSnapshot = robotsRef.where("name", "==", name)
const getDataSnapshot = await dataSnapshot.get()

const data = getDataSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
}))

const robot = data[0]

if (!robot.codeAccess.includes(user.email)) {
    Astro.locals.message = "You are not allowed to code that robot!"
    return Astro.redirect("/dashboard")
}
---

<Layout title="dashboard">
    <section class="w-4/5 mx-auto my-20">
        <div>
            <h2 class="text-3xl font-bold text-text-heading">{robot.fullName} - Submission Portal</h2>
        </div>
        <div class="my-5">
            <p class="text-text-light">Please read through the robot's manual before submitting code. The manual can be found <a href="#" class="text-blue-700">here</a>.</p>
            <p class="text-text-light">Grab the python code template file <a href="#" class="text-blue-700">here</a>.</p>
        </div>
        <div class="">
          <SubmissionList client:load />
        </div>
        <!-- <div class="grid grid-cols-4 gap-10">
          <FileUpload client:load />
          <CodeLogs client:load />
        </div> -->
    </section>
</Layout>