---
import Layout from '../layouts/Layout.astro';
const data = Astro.locals;
---

<Layout title="Home">
    <div class="flex flex-col justify-start items-center py-40 relative">
        <div class="mb-20">
            <h5 class="flex justify-center items-center gap-2 mr-5 text-xl text-text-heading"><span class="font-bold">ReRo<span class="text-xs text-text-heading text-regular ml-[2px]">Lab</span></span>is currently running its first hackathon on 3rd November, 2023! Register <a href="/register" class="hover:cursor-pointer ml-2 bg-text-heading px-4 py-2 rounded-full text-white flex justify-center items-center text-xl gap-2 shadow-lg shadow-primary">here 
                <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>.</h5>
        </div>
        <h1 class="text-8xl font-bold">Remote <span class="heading-1">Robotics(ReRo)</span> Lab</h1>
        <h3 class="text-3xl my-5">India's First 24/7 Virtual Robotics Lab by an Educational Institution</h3>
        
        <h3 class="text-xl w-3/5 mx-auto text-text-light text-center my-10">
            A remote robotics lab represents a cutting-edge solution that harnesses the power of technology to facilitate experimentation and control over hardware components like Arduino and ESP microcontrollers.
        </h3>

        <div class='flex justify-center items-center gap-5'>
            <a href='/signin' class='px-4 py-4 bg-text-heading text-white rounded font-medium shadow-lg shadow-secondary'>Get Started</a>
            <a href='/' class='px-4 py-4 border-[1px] border-[#dadada] text-text-heading rounded font-medium'>Contact Us</a>
        </div>

        <div class="absolute top-0 bottom-0 right-0 left-0 grid grid-cols-5 grid-rows-3 bg-[#e4e4e46b] gap-[2px] z-[-1] border-y-[50px] border-x-[100px] border-white">
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
        </div>
    </div>
</Layout>